.MyBg {
    height: 100vh;
    background-color: url('../assets/image/Logo.png');
    background-size: cover;
    background-position: center;
}

.Logo {
    width: 150px;
    margin-right: 32px;
}

.navbar-nav .dropdown-menu{
    background-color: dimgray;
}

.bg-navbar {
    background-color: dimgray !important;
}

.navbar-nav {
    width: 100% !important;
}

.navbarMenu {
    width: 100% !important;
    flex-direction: row;
    justify-content: end !important;
}

.Logo img {
    width: 80%;
}

.bg-intro {
    background-image: url("../assets/image/logo-white.png");
    background-size: cover;
    background-position: center;
}

.intro {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    background-image: url("../assets/image/masjid.jpg");
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#tentangkami {
    padding: 32px 0px;
}
#aktivitas {
    padding: 32px 0px;
}

.cardActivity {
    width: 300px !important;
    padding: 8px !important;
    margin-right: 16px;
    margin-top: 16px !important;
}

.cardImage {
    height: 180px !important;
}


.cardBody {
    height: 200px !important;
}

.cardDescription {
    font-size: 14px;
    text-align: justify;
}

.card-body p{
    font-size: 14px;
}

.about {
    width: 80% !important;
    margin: auto;
    padding: 8px;
}

.VisiMisi ul li{
    text-align: left !important;
    font-size: 14px;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card img{
    position: unset !important;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 